// definimos palabras claves que tengan un valor


$color-principal: #060047; 
$color-secundario: #B3005E;
$color-terciario: #9aff5f;
$fuente-principal: 'Montserrat', sans-serif;
$body-bg: #060047;
$body-color: #060047;

